<section class="section-padding">
    <div class="container">
        <h2 class="text-center">Nossos Serviços</h2>
        <div class="mt-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="servico1-tab" data-bs-toggle="tab" data-bs-target="#servico1" type="button"
                        role="tab" aria-controls="servico1" aria-selected="true">Ativo Moeda</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="servico2-tab" data-bs-toggle="tab" data-bs-target="#servico2" type="button"
                        role="tab" aria-controls="servico2" aria-selected="false">Passivo Tributário</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="servico3-tab" data-bs-toggle="tab" data-bs-target="#servico3" type="button"
                        role="tab" aria-controls="servico3" aria-selected="false">Rec. Fiscal</button>
                </li>
            </ul>
            <div class="tab-content text-center my-5" id="myTabContent">
                <div class="tab-pane fade show active" id="servico1" role="tabpanel" aria-labelledby="servico1-tab">
                    <div class="mt-5">
                        <h3>Ativo Moeda</h3>
                        <p class="mt-5">É uma operação que permite pagar as guias de impostos federais (INSS, PIS, COFINS, IRPJ, CSLL e IPI) com redução de 20%.</p>
                        <p class="mt-3">Através de cessão de créditos judiciais de empresas que possuem ação com trânsito em julgado e saldo habilitado que permita o uso legal do crédito por terceiros.</p>
                        <p class="mt-3">O Procedimento é realizado em via administrativa no portal do e-CAC e PER/DCOMP, a compensação do crédito é feita mensalmente através de nossa auditoria.</p>
                        <p class="mt-3">O uso do ativo moeda é legal, seguro e rápido</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="servico2" role="tabpanel" aria-labelledby="servico2-tab">
                    <div class="mt-5">
                        <h3>Redução do Passivo Tributário</h3>
                        <p class="mt-5">A fim de viabilizar a manutenção das empresas e empregos, a união possibilitou aos empresários, alguns acordos para facilitar o pagamento dos débitos acumulados em dívida ativa considerando o impacto financeiro da pandemia nos empresários e para aqueles que não cometeram fraudes fiscais. Com entrada facilitada e prazo alongado de pagamento.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="servico3" role="tabpanel" aria-labelledby="servico3-tab">
                    <div class="mt-5">
                        <h3>Recuperação Fiscal</h3>
                        <p class="mt-5">Recuperação de impostos através de cruzamento do histórico contábil, normas jurídicas e suas mais recentes alterações. São expressivos valores de INSS, ICMS, PIS, COFINS, IRPJ e CSLL.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>