<section class="my-5">
    <h2 class="text-center">Nossos Serviços</h2>
    <div class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="servico1-tab" data-bs-toggle="tab" data-bs-target="#servico1" type="button"
                    role="tab" aria-controls="servico1" aria-selected="true">Serviço 1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="servico2-tab" data-bs-toggle="tab" data-bs-target="#servico2" type="button"
                    role="tab" aria-controls="servico2" aria-selected="false">Serviço 2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="servico3-tab" data-bs-toggle="tab" data-bs-target="#servico3" type="button"
                    role="tab" aria-controls="servico3" aria-selected="false">Serviço 3</button>
            </li>
        </ul>
        <div class="tab-content text-center" id="myTabContent">
            <div class="tab-pane fade show active" id="servico1" role="tabpanel" aria-labelledby="servico1-tab">
                <div class="mt-5">
                    <h3>Serviço 1</h3>
                    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reprehenderit rem eligendi necessitatibus ullam eaque praesentium tempora eveniet expedita natus, autem enim dolores facilis, tempore itaque aliquid, consequatur doloremque omnis!</p>
                </div>
            </div>
            <div class="tab-pane fade" id="servico2" role="tabpanel" aria-labelledby="servico2-tab">
                <div class="mt-5">
                    <h3>Serviço 2</h3>
                    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus inventore adipisci quibusdam ducimus aperiam amet sit dicta non, reprehenderit doloremque dignissimos iusto doloribus nam minus voluptas voluptate, repellendus ab!</p>
                </div>
            </div>
            <div class="tab-pane fade" id="servico3" role="tabpanel" aria-labelledby="servico3-tab">
                <div class="mt-5">
                    <h3>Serviço 3</h3>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur, eius in voluptate consequuntur aperiam amet adipisci ipsa! Fugiat, quasi vitae. Blanditiis fugit cum praesentium eligendi, voluptatem assumenda ut voluptates!</p>
                </div>
            </div>
        </div>
    </div>
</section>