<section class="my-5 py-5">
    <h2 class="text-center">Nossos Clientes</h2>
    <article class="d-flex justify-content-center flex-wrap">
        <img class="my-3" src="assets/images/logo-parana.png" alt="">
        <img class="my-3" src="assets/images/palacio_das_ferramentas.png" alt="">
        <img class="my-3" src="assets/images/logo-dona-deola.png" alt="">
        <img class="my-3" src="assets/images/logo-garantia.png" alt="">
        <img class="my-3" src="assets/images/logo-mc-croacia.png" alt="">
        <img class="my-3" src="assets/images/logo-posto-cordazzo.png" alt="">
        <img class="my-3" src="assets/images/logo-r2.png" alt="">
        <img class="my-3" src="assets/images/logo-via-norte.png" alt="">
        <img class="my-3" src="assets/images/logo-mt.png" alt="">
    </article>
</section>