footer {
    background-color: var(--footer-bg);
    color: whitesmoke;
}

p {
    margin: auto;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    section {
        flex-direction: column;
    }
    
    p {
        font-size: 13px;
    }
}