<section>
    <article>
        <h3 class="text-center"><b>Calculadora de redução ou economia de impostos</b></h3>
        <h5 class="mt-5 mb-4 fw-bold">
            Selecione os impostos a serem calculados, após a seleção insira os valores dos impostos pagos pela empresa. Clique em calcular e visualize a sua economia!
        </h5>
        <div class="alert alert-warning mb-5" role="alert">
            Caso não saiba os valores de cada imposto, selecione a opção <b>"Todos os impostos federais"</b>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <div class="row">
                    <div class="col-12">
                        <div class="fw-bold form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="switch-todos" (change)="changeSwitch('todos')">
                            <label class="form-check-label" for="switch-todos">Todos os impostos federais</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row fw-bold">
                    <div class="col-6 col-md-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="switch-inss" (change)="changeSwitch('inss')" [disabled]="todosChecked">
                            <label class="form-check-label" for="switch-inss">INSS</label>
                        </div>
                        <div class="form-check form-switch my-2">
                            <input class="form-check-input" type="checkbox" id="switch-pis" (change)="changeSwitch('pis')" [disabled]="todosChecked">
                            <label class="form-check-label" for="switch-pis">PIS</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="switch-cofins" (change)="changeSwitch('cofins')" [disabled]="todosChecked">
                            <label class="form-check-label" for="switch-cofins">COFINS</label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="switch-irpj" (change)="changeSwitch('irpj')" [disabled]="todosChecked">
                            <label class="form-check-label" for="switch-irpj">IRPJ</label>
                        </div>
                        <div class="form-check form-switch my-2">
                            <input class="form-check-input" type="checkbox" id="switch-csll" (change)="changeSwitch('csll')" [disabled]="todosChecked">
                            <label class="form-check-label" for="switch-csll">CSLL</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="switch-ipi" (change)="changeSwitch('ipi')" [disabled]="todosChecked">
                            <label class="form-check-label" for="switch-ipi">IPI</label>
                        </div>
                    </div>
                </div>
            
                <div class="inputs mt-5">
                    <div class="input-group mb-3 d-none" id="ig-inss">
                        <span class="input-group-text" id="span-inss">INSS</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="INSS" id="input-inss" aria-describedby="span-inss" value="" (input)="mask($event)">
                    </div>
                    <div class="input-group mb-3 d-none" id="ig-pis">
                        <span class="input-group-text" id="span-pis">PIS</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="PIS" id="input-pis" aria-describedby="span-pis" value="" (input)="mask($event)">
                    </div>
                    <div class="input-group mb-3 d-none" id="ig-cofins">
                        <span class="input-group-text" id="span-cofins">COFINS</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="COFINS" id="input-cofins" aria-describedby="span-cofins" value="" (input)="mask($event)">
                    </div>
                    <div class="input-group mb-3 d-none" id="ig-irpj">
                        <span class="input-group-text" id="span-irpj">IRPJ</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="IRPJ" id="input-irpj" aria-describedby="span-irpj" value="" (input)="mask($event)">
                    </div>
                    <div class="input-group mb-3 d-none" id="ig-csll">
                        <span class="input-group-text" id="span-csll">CSLL</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="CSLL" id="input-csll" aria-describedby="span-csll" value="" (input)="mask($event)">
                    </div>
                    <div class="input-group mb-3 d-none" id="ig-ipi">
                        <span class="input-group-text" id="span-ipi">IPI</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="IPI" id="input-ipi" aria-describedby="span-ipi" value="" (input)="mask($event)">
                    </div>
                    <div class="input-group mb-3 d-none" id="ig-todos">
                        <span class="input-group-text input-group-text-todos" id="span-todos">Valor Total</span>
                        <input type="text" class="form-control" inputmode="numeric" aria-label="todos" id="input-todos" aria-describedby="span-todos" value="" (input)="mask($event)">
                    </div>
                    <button (click)="calcular()" class="btn btn-success">Calcular</button>
                </div>
                <div class="my-5">
                    <h4>Pagamento mensal com desconto: <b>{{ total * 0.8 | currency:'BRL' }}</b></h4>
                    <h4 class="text-success">Economia mensal: <b>{{ total * 0.2 | currency:'BRL' }}</b></h4>
                    <br>
                    <h4>Pagamento anual com desconto: <b>{{ totalAnual * 0.8 | currency:'BRL' }}</b></h4>
                    <h4 class="text-success">Economia anual: <b>{{ totalAnual * 0.2 | currency:'BRL' }}</b></h4>
                </div>
            </div>
        </div>
    </article>
</section>