section {
    padding-top: 10px;
    padding-bottom: 10px;
    article {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 50px;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        // backdrop-filter: blur( 9px );
        // -webkit-backdrop-filter: blur( 9px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}

.input-group-text {
    width: 85px;
}

.input-group-text-todos {
    width: 110px;
}

input {
    max-width: 400px;
}