section {
    margin-top: 58px;
}

div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
img:first-child{
    width: 100vw;
    max-height: 80vh;
    object-fit: cover;
    margin-top: 53px;
    filter: blur(4px) brightness(50%);
}

.second-img {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 28px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 30px;
}

.subtitle {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 24px;
    margin-top: 20rem;
}