section {
    margin-top: 58px;
}

div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
img:first-child{
    width: 100vw;
    max-height: 80vh;
    object-fit: cover;
    margin-top: 53px;
    filter: blur(4px) brightness(50%);
}

.second-img {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 28px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 30px;
}

.subtitle, .monetali {
    position: absolute;
    z-index: 1;
    color: white;
}

.subtitle {
    margin-top: 15rem;
    font-size: 24px;
}

.monetali {
    margin-top: 30rem;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

p {
    height: 20px;
}

a {
    color: white;
}

a:hover{
    color: var(--header-second-bg);
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .subtitle {
        width: 60%;
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .subtitle {
        width: 60%;
        text-align: center;
        font-size: 12px;
        margin-top: 7rem;
    }
    .second-img {
        font-size: 18px;
    }
    .monetali{
        margin-top: 15rem;
        font-size: 15px;
    }
    p {
        height: 10px;
    }
}