// FONT CONFIG

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.ttf');
}

* {
    font-family: 'Poppins';
}

// COLOR PALETTE

:root {
    --header-bg: rgba(128, 128, 128, 0.884);
}

// CSS
header {
    nav {
        background-color: var(--header-bg);

        .nav-item {
            color: black;
        }
    }
}
